$green: rgb(0, 127, 0);
$dark-green: rgb(0, 101, 50);
$light-green: rgb(152, 203, 0);
$grey: rgb(101, 101, 101);
$light-grey: rgb(189, 204, 212);
$lighter-grey: rgb(242, 242, 242);
$white: rgb(255, 255, 255);
$silver: rgb(152, 152, 152);
$yellow: rgb(255, 217, 0);
$black: rgb(0, 0, 0);
$blue: rgb(0, 113, 185);
$red: rgb(255, 0, 51);
$blue: rgb(0, 113, 185);
