@include component(header) {
  padding-left: 15px;
  padding-right: 15px;
  border-bottom: 1px solid #e5e5e5;

  @include part(title) {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }

  @media screen and (min-width: 768px) {
    /* Remove the padding we set earlier */
    padding-left: 0;
    padding-right: 0;
    /* Space out the masthead */
    margin-bottom: 30px;
  }
}
